@model CarWorkShop.Models.ViewModel.Owner.OwnerViewModel;


<div class="content">
    <form asp-controller="Owner" asp-action="CreateOwner" method="post">
         <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Login" class="col-form-label text-black-50"></label>
                <input asp-for="@Model.Login" type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Password" class="col-form-label text-black-50"></label>
                <input asp-for="@Model.Password" type="password" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Role" class="col-form-label text-black-50"></label>
                <input asp-for="@Model.Role" type="text"  class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>