@using CarWorkShop.Models.Entity
@model List<Record>



   
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Айди</th>
                <th>Жалобы</th>
                <th>Марка автомобиля</th>
                <th>Модель автомобиля</th>
                <th>Номер автомобиля</th>
                <th>Дата создания</th>
                <th>Имя клиента</th>
                <th>Фамилия клиента</th>
                <th>Отчество клиента</th>
                <th>Возраст клиента</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in @Model)
            {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.Complaint</td>
                    <td>@record.Car.Mark</td>
                    <td>@record.Car.Model</td>
                    <td>@record.Car.CarNumber</td>
                    <td>@record.DateTime.ToString("yyyy-MM-dd")</td>
                    <td>@record.Profile.FirstName</td>
                    <td>@record.Profile.LastName</td>
                    <td>@record.Profile.MiddleName</td>
                    <td>@record.Profile.Age</td>
                    <td>
                        <form asp-controller="Record" asp-action="Delete" asp-route-id="@record.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
     @*<button type="button" style="position: absolute; top: 150px; right: 50px" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">Добавить данные </button>*@
    <a class="flex-sm-fill text-sm-center" asp-controller="Record" asp-action="CreateRecord">Создать запись</a>
</div>

    
<script>
$(document).ready(function() {
    $("#openModalBtn").click(function() {
        $("#myModal").modal("show"); // открываем модальное окно с id="myModal"
    });
});
</script>

